!!!
/ ^-- that is a doctype
%html
  %head
    / This formats the title of the tab in the browser
    %title rubystudentsapp
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}

  %body
    %nav.navbar.navbar-inverse{role: "navigation"}
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "/"} rubystudentsapp
        %ul.nav.navbar-nav
          %li
            %a{href: "/image"} Image

    .container
      = yield
